<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="zh-CN">
  <head>
	<title>PaaS admin login</title>
	<meta name="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/static/css/login.css" type="text/css" media="screen" />
  </head>

  <body>
	  <h2 id="caption">Swift Demo System Login</h2>
	  <h5 id="caption">account: test</h2>
	  <h5 id="caption">user: tester</h2>
	  <h5 id="caption">password: testing</h2>

	  <form name="login_form" id="login_form" action="/login" method="post">
		<p>
		  <label>Account<br>
			<input type="text" name="account" id="account" ></label>
		</p>

		<p>
		  <label>Username<br>
			<input type="text" name="username" id="username" ></label>
		</p>
		<p>
		  <label>Password<br>
			<input type="text" name="password" id="password" ></label>
		</p>
		<!-- <p><label><input name="rememberme" type="checkbox" id="rememberme" value="rememberme"> 记住我的登录信息</label></p> -->
		<p> <input type="submit" value="Login"></p>
	  </form>

  </body>
</html>
